<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    
    <title>PORTFOLIO</title>

</head>

<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1_1">
                        <img 
                        src="images/profile.png"
                        width="156px"
                        height="142px"
                        alt=""
                        />
                    </div>
                    <div class="left_1_2"><%=user.name%></div>
                    <div class="left_1_3"> <%=user.profession%></div>
                    <div class="left-icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Facebook.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Instagram.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Twitter.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Linkeding.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Youtube.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Dribbble.svg" class="icon-1">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="left_2_age">
                        <div class="left_2_age_1">Age:</div>
                        <div class="left_2_age_2"> <%=user.age%></div>
                    </div>  

                    <div class="left_2_residence">
                        <div class="left_2_residence_1">Residence:</div>
                        <div class="left_2_residence_2"> <%=user.residence%></div>
                    </div>  

                    <div class="left_2_freelance">
                        <div class="left_2_freelance_1">Freelance:</div>
                        <div class="left_2_freelance_2">Available</div>
                    </div>

                    <div class="left_2_address">
                        <div class="left_2_address_1">Address:</div>
                        <div class="left_2_address_2"><%=user.address%></div>
                    </div> 
                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <h3>Languages</h3>
                    <div class="left_3_lang">
                        <div class="text">
                            <span><%=user.languages[0]%></span>
                            <span>100%</span>
                        </div>
                        <div class="progress_1"></div>    
                    </div>
                    <div class="left_3_lang">
                        <div class="text">
                            <span><%=user.languages[1]%></span>
                            <span>50%</span>
                        </div>
                        <div class="progress_2"></div>    
                    </div>
                    <div class="left_3_lang">
                        <div class="text">
                            <span><%=user.languages[2]%></span>
                            <span>80%</span>
                        </div>
                        <div class="progress_3"></div>    
                    </div>

                </div>
                <div class="marginer"></div>
                <div class="left_4">
                    <h3>Skills</h3>
                    <div class="left_4_skills">
                        <div class="text">
                            <span><%=user.skills[0]%></span>
                            <span>90%</span>
                        </div>
                        <div class="prog-1"></div>    
                    </div>

                    <div class="left_4_skills">
                        <div class="text">
                            <span><%=user.skills[1]%></span>
                            <span>85%</span>
                        </div>
                        <div class="prog-2"></div>    
                    </div>

                    <div class="left_4_skills">
                        <div class="text">
                            <span><%=user.skills[2]%></span>
                            <span>80%</span>
                        </div>
                        <div class="prog-3"></div>    
                    </div>

                    <div class="left_4_skills">
                        <div class="text">
                            <span><%=user.skills[3]%></span>
                            <span>75%</span>
                        </div>
                        <div class="prog-4"></div>    
                    </div>
                    <div class="left_4_skills">
                        <div class="text">
                            <span><%=user.skills[4]%></span>
                            <span>85%</span>
                        </div>
                        <div class="prog-5"></div>    
                    </div>


                </div>
                <div class="marginer"></div>
                <div class="left_5">
                   <h3>Extra Skills</h3>

                    <div class="left_5_ex-skills">
                        <div class="left_5_ex_skill-1">
                            <div class="text">
                                <img src="icon/icon-1.svg"/>
                                <span><%=user.extra_skills[0]%></span>
                            </div>
                        </div>

                        <div class="left_5_ex_skill-2">
                            <div class="text">
                             <img src="icon/icon-2.svg"/>
                             <span><%=user.extra_skills[1]%></span>
                            </div>
                        </div>

                        <div class="left_5_ex_skill-3">
                            <div class="text">
                                <img src="icon/icon-3.svg"/>
                                <span><%=user.extra_skills[2]%></span>
                            </div>
                        </div>

                        <div class="left_5_ex_skill-4">
                            <div class="text">
                                <img src="icon/icon-4.svg"/>
                                <span><%=user.extra_skills[3]%></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>
            </div>
            <div class="midd_frame">
                <div class="about">
                    <div class="stars"> <img src="images/stars.png" alt=""></div>
                    <div>
                        <h2> Software Engineer in IT Company </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
                        <button>HIRE ME</button>
                    </div>
                    <div style="height: 100px; width: 100px" >
                        <img src="images/Yourimage.png" alt="">
                    </div>
                    
                </div>

                <div class="services">
                    <div class="serv-1"> <h2>My Services</h2>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
                    </div>
                    <div class="boxes">
                        <div class="box-1">
                            <img src="menu_icon/webdev.svg" alt="">
                            <h4>Web Development</h4>
                            <p>Blog, E-Commerce</p>
                        </div>
                        <div class="box-1">
                            <img src="menu_icon/illustr.svg" alt="">
                            <h4>UI/UX design</h4>
                            <p>Mobile app, website design</p>
                        </div>
                        <div class="box-1">
                            <img src="menu_icon/mic.svg" alt="">
                            <h4>Sound Design</h4>
                            <p>Voice Over, Beat Making</p>
                        </div>
                        <div class="box-1">
                            <img src="menu_icon/gamedev.svg" alt="">
                            <h4>Game Design</h4>
                            <p>Character Design, Props & Objects</p>
                        </div>
                        <div class="box-1">
                            <img src="menu_icon/photogr.svg" alt="">
                            <h4>Photography</h4>
                            <p>Portrait, Product photography</p>
                        </div>
                        <div class="box-1">
                            
                            <h4>Advertising</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi.</p>
                            <div class="order">
                                <button>ORDER NOW  <img src="menu_icon/vector.svg" alt=""></button>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right_frame">
                <div class="right-contrast">
                    <button><img src="menu_icon/moon.svg" alt=""></button>
                </div>

                    <div class="right-icon_1">
                        <button><img src="menu_icon/home.svg" alt=""></button>
                    </div>

                    <div class="right-icon_2">
                        <button><img src="menu_icon/service_icon.svg" alt=""></button>
                    </div>

                    <div class="right-icon_3">
                        <button><img src="menu_icon/cv.svg" alt=""></button>
                    </div>

                    <div class="right-icon_4">
                        <button><img src="menu_icon/portfolio.svg" alt=""></button>
                    </div>

                    <div class="right-icon_5">
                        <button><img src="menu_icon/blog.svg" alt=""></button>
                    </div>
                    <div class="right-icon_6">
                        <button><img src="menu_icon/contact.svg" alt=""></button>


            </div>
        </div>
    </div>
    
</body>

</html>